@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[data-theme="light"] {
  --color-gbg: oklch(98% 0.01 200);
  --color-gtext: oklch(25% 0.03 280);
  --color-ghead: oklch(92% 0.02 240);
  --color-thead: oklch(30% 0.02 260);
}
[data-theme="dark"] {
  --color-gbg: oklch(15% 0.02 260);
  --color-gtext: oklch(85% 0.015 240);
  --color-ghead: oklch(20% 0.03 240);
  --color-thead: oklch(90% 0.02 220);
}
@theme {
  --color-gbg: var(--color-gbg);
  --color-gtext: var(--color-gtext);
  --color-ghead: var(--color-ghead);
  --color-thead: var(--color-thead);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid gray;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  color: #646cff;
}
button:focus,
button:focus-visible {
  outline: none;
}
